{{ $app := resources.Get "js/app.js" | fingerprint }}
{{ $mermaidVersion := site.Params.mermaid_version }}
{{/* 本地化 JavaScript 库，避免从国外 CDN 加载 */}}
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/popper-1.16.1.min.js"></script>
<script src="/js/bootstrap-4.5.2.min.js"></script>
<script src="/js/ua-parser-0.7.25.js"></script>
<script src="/js/lunr.js"></script>
<script src="{{ $app.RelPermalink }}" type="module" integrity="{{ $app.Data.Integrity }}"></script>
{{ if $mermaidVersion }}
{{/* Mermaid 使用本地版本 */}}
<script src="/js/mermaid-10.min.js"></script>
{{ end }}
